<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [CLI] [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="LogFile" fileName="cli.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [CLI] [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="LogAllFile" fileName="../app.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [CLI] [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="LogAllFile"/>
        </Async>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="LogAllFile"/>
        </Root>
    </Loggers>
</Configuration>